.loader {
    width: 30px;
}

.loader {
    display: block;
    margin: 0 auto 15px auto;
}

.ajax-errors {
    text-align: center;
    margin-bottom: 10px;
}

.prep {
    display: none;
}

.error-message {
    display: none;
    padding: 3px 8px;
    color: #fff;
    background-color: #dd4b39;
    margin-top: 12px;
    font-size: 13px;
    border-radius: 3px;
    position: relative;
}

.help-block {
    padding: 3px 8px;
    color: #fff;
    background-color: #dd4b39;
    border-radius: 3px;
    position: relative;
    margin-top: 12px;
    font-size: 13px;
    display: inline-block;
}

.help-block strong {
    font-weight: normal;
}

.error-message:after, .help-block:after {
    content: "";
    border-left: 4px solid transparent;
    position: absolute;
    border-bottom: 4px solid #dd4b39;
    border-right: 4px solid transparent;
    left: 12px;
    top: -4px;
}

.make-visible {
    display: inline-block;
}

/*MAP*/
.map-height {
    position: relative !important;
    visibility: visible !important;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 260px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#map {
    margin: 33px auto;
    height: 400px;
    width: 100%;
    margin-top: 35px;
    visibility: hidden;
    position: absolute;
}

.label-top {

    padding-top: 7px;
}

.logo {

    background-color: #367fa9 !important;
}

.navbar {
    background-color: #3c8dbc !important;
}

.user-header {
    background-color: #3c8dbc !important;

}

.loaderImg {
    display: none;
}

.make-visible {
    display: block;
}

.loaderImg {
    margin: 0 auto 15px auto;
}

.loaderImg {
    width: 30px;
}

.loading {
    display: none;
}


/*.make-visible{*/
/*display: inline-block;*/
/*}*/

.load-holder {
    text-align: center;
    display: block;
    margin-bottom: 18px;
    width: 100%;
}

.load-holder .loading {
    /*    position: absolute;    left: 50%;*/
    margin: 0 auto;
    text-align: center;
}

.select2, select, select.form-control, input[type="text"], input[type="email"], input[type="password"], input[type="search"], input[type="number"], textarea, textarea.form-control {
    border-radius: 3px;
    background: #eee;
    border: 0;
    font-size: 12px;
}

.select2-container--default .select2-selection--multiple {
    border: 0;
    border-radius: 3px;
    background: #eee;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #eb593b;
    border-color: #eb593b;
}

.progress {
    position: relative;
    width: 100%;
    border: 1px solid #7F98B2;
    padding: 1px;
    border-radius: 3px;
}

.bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 25px;
    border-radius: 3px;
}

.percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
    color: #7F98B2;
}

